@import url('https://fonts.googleapis.com/css2?family=Alice&family=Mochiy+Pop+P+One&display=swap');

/* Body */

body {
    font-family: Alice, sans-serif;
    color: #333;
    font-size: x-large;
    margin: 0;
}

/* Header */

header {
    height: 10rem;
    padding: 3rem;
    text-align: center;
    background: #77A37E;
    color: #EDFFF0;
}

header h1 {
    font-size: 5rem;
    font-family: 'Mochiy Pop P One', sans-serif;
}

/* Navbar */

#navbar {
    width: 100%;
    overflow: hidden;
    background-color: #333;
    position: sticky;
    top: 0;
    position: fixed;
}

#navbar a {
    float: left;
    display: block;
    color: #fff;
    text-align: center;
    padding: 1rem 2rem;
    text-decoration: none;
}

#navbar a:hover {
    background-color: #666;
    color: #fff;
}

#navbar a:active {
    background-color: #666;
    color: #fff;
}

/* Sections */

.row {
    display: flex;
}

.column-left {
    flex: 50%;
    padding: 5%;
}

.column-right {
    flex: 50%;
    padding: 5%;
}

img {
    width: 90%;
    height: auto;
    border-radius: 1rem;
}

/* About Us */

#about-us {
    background-color: #C7F0CD;
}

/* Schedule */

#schedule {
    background-color: #EDFFF0;
}

/* Sign up */

#sign-up {
    background-color: #C7F0CD;
}

input[type=text] {
    width: 30%;
    padding: 1rem;
    border: 1px solid #333;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

input[type=email] {
    width: 30%;
    padding: 1rem;
    border: 1px solid #333;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

input[type=submit] {
    background-color: #77A37E;
    color: #fff;
    padding: 1rem 2rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #EDFFF0;
    color: #333;
}

/* Contact */

#contact {
    background-color: #EDFFF0;
}

/* Footer */

footer {
    height: 10rem;
    text-align: center;
    background-color: #77A37E;
}

footer > ul {
    display: inline;
}

footer > i {
    font-size: 200%;
    margin: 1%;
    padding: 5%;
    color: #EDFFF0;
}